* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
}

header,
aside,
main,
footer {
    padding: 16px;
    text-align: center;
}

header {
    background: #3e9dd0;
}

aside {
    background: #fa923f;
}

footer {
    background: black;
}

.navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-item a {
    text-decoration: none;
    color: white;
}

.navigation-item a:hover,
.navigation-item a:active {
    color: #fa923f;
}